name: Test Secret

on:
  # on pourra aussi le lancer à la main dans l'onglet Actions
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Récupère ton code (même si on ne s'en sert pas vraiment ici)
      - uses: actions/checkout@v4

      # Test simple : afficher un message
      - name: Run a one-line script
        run: echo "Hello, world!"

      # Test du secret
      - name: Show secret (masked)
        run: echo "Secret value: ${{ secrets.lesecretdebibi }}"
