name: Test Secret

on:
  workflow_dispatch:

jobs:
  test-secret:
    runs-on: ubuntu-latest
    steps:
      - name: Show a test message
        run: echo "Testing secret..."

      - name: Show secret (masked)
        run: echo "Secret value: ${{ secrets.lesecretdebibi }}"
