name: Test Secret

on:
  workflow_dispatch:

jobs:
  test-secret:
    runs-on: ubuntu-latest
    steps:
      - name: Afficher un message de test
        run: echo "Test du secret..."

      - name: Vérifier que le secret existe
        run: |
          if [ -z "${{ secrets.lesecretdebibi }}" ]; then
            echo "Le secret est VIDE ou introuvable."
            exit 1
          else
            echo "Le secret existe et est chargé correctement."
          fi

      - name: Afficher le secret (il sera masqué)
        run: echo "Valeur du secret : ${{ secrets.lesecretdebibi }}"
