name: Test Secret

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Test message
        run: echo "Hello"

      - name: Show secret
        run: echo "Secret value: ${{ secrets.lesecretdebibi }}"
